.aside {
  & .main {
    padding: 40px;
    & .item {
      display: block;
      padding: 10px 0;
    }
  }
  & .icon {
    padding-right: 30px
  }
}

body {
  color: chartreuse;
}

.box-main {
  margin-top: 5px;
}
